page-perfil{
    .toolbar-background {
        background-color: #ee6e73;
    }
    .titulo {
        text-align: center;
        color: white;

        font-size: 30px;
    }

    .chatBotton {
        font-size: 25px;
      }   
    
    .fotoPerfil{

        width:100px;
        height:100px;

    }

    .UserName{
        font-size: 18px;
    }

    .estrela{
        font-size: 25px;
        color: #ee6e73;
    }
    
    .notaAlta{
        font-size: 30px;
    }
    
    .notaBaixa{
        color: #ee6e73;
    }

    .follow{
        font-size: 12px;
    }

    .botaoPerfil{
        color: #ee6e73;
    }
}