page-perfil{
    .toolbar-background {
        background-color: #ee6e73;
    }
    .titulo {
        text-align: center;
        color: white;

        font-size: 30px;
    }

    .chatBotton {
        font-size: 25px;
      }   
    
    .fotoPerfil{

    }

    .UserName{
        font-size: 25px;
    }

    .estrela{
        margin-left: 5%;
        font-size: 25px;
        color: #ee6e73;
    } 
    
    .alerta{
        margin-right: 5%;
        font-size: 25px;
        color: #ee6e73;
    }
    
    .notaAlta{
        font-size: 35px;
    }
    
    .notaBaixa{
        color: #ee6e73;
    }

    .follow{
        margin-left: 8%;
        font-size: 18px;
    }

    .follow #seguindo{
        margin-left: 10%;
        
        margin-right: 5%;
        font-size: 18px;
    }

    .botaoPerfil{
        color: #ee6e73;
        margin: auto;
    }

    .descricao{
        font-size: 18px;
        margin: 5% auto;
    }
}