page-feed{
    .toolbar-background {
        background-color: #ee6e73;
    }
    .titulo {
        text-align: center;
        color: white;

        font-size: 30px;
    }

    .chatBotton {
        font-size: 25px;
      }
}